<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<property name="hibernate.connection.username">esgerosa</property>
		<property name="hibernate.connection.password">alunoses</property>
		<!--  <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/engenharia_software</property> -->
		<property name="hibernate.connection.url">jdbc:mysql://localhost:3306/engenharia_software</property>
		<property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="hibernate.dialect">org.hibernate.dialect.MySQL5InnoDBDialect</property>
		<property name="hibernate.hbm2ddl.auto">update</property>
		<property name="show_sql">true</property>
		<mapping class="sigp.src.Grupo" />
		<mapping class="sigp.src.Publicacao" />
		<mapping class="sigp.src.LinhaPesquisa" />
		<mapping class="sigp.src.Disciplina" />
		<mapping class="sigp.src.Projeto" />
		<mapping class="sigp.src.Contribuinte" />
		<mapping class="sigp.src.Filiacao" />
		<mapping class="sigp.src.Usuario" />
	</session-factory>
</hibernate-configuration>
